<%= render layout: 'layouts/shopper/checkout' do %>
  <%= form_for @order, url: wizard_path, method: :put do |of| %>
    <div class="row">
      <div class="billing-address-form col-md-3">
        <h4 class="page-header"><%= t('checkout.billing.title') %></h4>
        <%= render partial: 'shopper/helpers/validation_errors', locals: { suspect: @order.billing_address } %>
        <%= of.fields_for :billing_address do |bf| %>
          <div class="form-group">
            <%= bf.label :first_name %>
            <%= bf.text_field :first_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= bf.label :last_name %>
            <%= bf.text_field :last_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= bf.label :country %>
            <%= bf.collection_select :country_id, @countries, :id, :name, { prompt: true }, { class: 'form-control country-select' } %>
          </div>

          <div class="form-group">
            <%= bf.label :city %>
            <%= bf.text_field :city, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= bf.label :street %>
            <%= bf.text_field :street, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= bf.label :zip %>
            <%= bf.text_field :zip, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= bf.label :phone %>
            <%= bf.text_field :phone, class: 'form-control' %>
          </div>
        <% end %>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-3">
        <h4 class="page-header"><%= t('checkout.shipping.title') %></h4>
        <%= render partial: 'shopper/helpers/validation_errors', locals: { suspect: @order.shipping_address } %>
        <div class="checkbox">
          <label>
            <%= check_box_tag :same_as_billing, nil %>
            Use my billing address
          </label>
        </div>
        <div class="shipping-address-form">
        <%= of.fields_for :shipping_address do |sf| %>
          <div class="form-group">
            <%= sf.label :first_name %>
            <%= sf.text_field :first_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= sf.label :last_name %>
            <%= sf.text_field :last_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= sf.label :country %>
            <%= sf.collection_select :country_id, @countries, :id, :name, { prompt: true }, { class: 'form-control country-select' } %>
          </div>

          <div class="form-group">
            <%= sf.label :city %>
            <%= sf.text_field :city, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= sf.label :street %>
            <%= sf.text_field :street, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= sf.label :zip %>
            <%= sf.text_field :zip, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= sf.label :phone %>
            <%= sf.text_field :phone, class: 'form-control' %>
          </div>
        <% end %>
      </div>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-4">
        <%= render partial: 'shopper/checkout/summary', locals: { order: @order } %>
      </div>
    </div>

    <%= of.button t('checkout.next'), name: nil, class: 'btn btn-success btn-lg pull-right' %>
  <% end %>
<% end %>